@media screen and (min-width: 1200px) {
	.glyphicon{
		top: 0;
	}

	/***************************************/
	/** BEGIN HEADER **/
	/***************************************/
	.header{
	    width: 100%;
	    display: table;
	    border-bottom: 0px #FFF solid;
	    box-shadow: 0 0 6px 0px #333;
	    background: url('../img/imagens/fundo_2.jpg');
	    background-size: 100%;
	    height: 10vh;
	    position: relative;
	    z-index: 1;
    }

	.header .logo{
	    width: 115px;
	    float: left;
	}

	.header .logo img{
		width: 100%;
	}
	.header .user{
		float: right;
	}

	.header .user figure{
	    width: 47px;
	    margin: 0px auto;
	    border-radius: 100%;
	    overflow: hidden;
	    background-color: #FFF;
	    text-align: center;
	}
	.header .user figure img{
		width: 100%;
	}

	.header .user .username{
	    text-align: center;
	    margin: 0;
	    padding: 0;
	    color: #FFF;
	    font-size: 14px;
	}

	.header .user .btn-default {
	    color: #333;
	    background-color: transparent;
	    border: 0;
	}
	.header .user .btn-default:active,
	.header .user .btn-default:focus,
	.header .user .btn-default:hover{
		background-color:#387AC8; 
	}
	
	/***************************************/
	/** END HEADER **/
	/***************************************/
	
	.breadcrumb {
	    padding: 8px 15px;
	    margin-bottom: 0px;
	    list-style: none;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	}
	.page-header {
	    padding-bottom: 0px;
	    margin: 12px 0 0px;
	    border-bottom: 1px solid #eee;
	}


	#container_login{
		margin: 0;
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../img/imagens/fundo_2.jpg') 100%;
	}
	#container_login .box_login{
	    position: absolute;
	    top: 21%;
	    left: 50%;
	    right: 0;
	    bottom: 0;
	    display: table;
	    width: 325px;
	    margin-left: -161px;
	    background: rgba(255, 255, 255, 0.2) url('../img/imagens/efeito.png');
	    background-size: 100%;
	    padding: 20px;
	    border-radius: 23px;
	    overflow: hidden;
	    box-shadow: 0px 3px 15px -1px #FFFFFF inset;
	}
	#container_login .box_login header{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	#container_login .box_login header img{
		width: 210px;
	}
	#container_login .box_login #form_login{
		display: table;
		width: 100%;
	}

	#container_login .box_login label{
	    display: table;
	    margin: 12px;
	    padding: 0px;
	}
	#container_login .box_login label img{
		float: left;
		width: 20px;
		margin: 7px;
	}

	#container_login .box_login label input{
		float: right;
		width: 270px;
		border-radius: 0;
	}

	#container_login .box_login .btn_login{
	    background-color: #1B5CB6;
	    background-image: url('../img/imagens/efeito.png');
	    background-size: 100%;
	    box-shadow: 0 0 9px 7px rgba(16, 82, 165, 0.69) inset;
	    margin: 0 10px;
	    border-radius: 8px;
	    border: 0;
	    width: 94%;
	    margin-bottom: 10px;
	    color: #FFF;
	    font-size: 23px;
	    padding: 3px;
	    font-weight: bold;
	}
	#container_login .box_login .recupera{
		float: right;
		margin-right: 11px;
		color: #FFF;
		font-size: 12px;
	}
	#container_login .box_login .resposta{
		border: 1px solid;
		width: 94%;
		margin: 10px;
		padding: 6px;
		text-align: center;
		background: #5D666F;
		color: #FFF;
		font-size: 17px;
		border-radius: 7px;
	}
	#container_login .box_login .resposta p{
		margin: 0;
	}

	#container_login .box_login label.captcha{
		display: none;
	}

	#container_login .box_login label.captcha input{
		width: 96%;
		margin: 6px; 
	}

	





	.wrap-content{
		position: relative;
		width: 100%;
		background-color: #FFF;
		height: 90vh;
		overflow: auto;
	}

	.navbar-menu{
   		margin:0 10% 10% 10%;*/
	}
	.navbar-menu ul{
		/*list-style: none;
	    padding: 0;
	    display: table;
	    margin: auto;*/
	}
	.navbar-menu ul li{
		list-style: none;
		display: table;
	}
	.navbar-menu ul li a{
		display: inline-block;
		margin: 5px;
		background-image: url('../img/imagens/efeito.png');
		background-position: 0;
		border-radius: 5px;
		padding: 10px;
		position: relative;
		color: #FFF;
		font-size: 20px;
		text-align: center;
		display: block;
		text-shadow: 2px 1px 1px #000;
		text-decoration: none;
	    box-shadow: 0 0 10px 0px #FFF;
	    min-height: 116px;
	    min-width: 116px;
	}

	.navbar-menu ul li a.inactive{
		opacity: 0.4!important;
	}
	.navbar-menu ul li a.inactive{

	}

	.navbar-menu ul li a:hover:not(.inactive){
	    transform: scale(1.1);
	}

	.navbar-menu ul li a figure{
		margin: 0;
    	width: 100%;
	}

	.navbar-menu ul li a figure img{
		width: 73px;
	    /* border: 2px solid #FFF; */
	    border-radius: 100%;
	    padding: 10px;
	    margin: auto;
	    box-shadow: 0 0 8px 0px #FFF inset;
	}

	.navbar-menu ul li .box1{
	    width: 26vh;
	    height: 26vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(142, 68, 173);
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7700aa+0,aa41db+100 */
		background: #7700aa; /* Old browsers */
		background: -moz-linear-gradient(top,  #7700aa 0%, #aa41db 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7700aa), color-stop(100%,#aa41db)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #7700aa 0%,#aa41db 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7700aa', endColorstr='#aa41db',GradientType=0 ); /* IE6-9 */
	}
	.navbar-menu ul li .box2{
	    width: 37vh;
	    height:18vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(243, 156, 18);
	}
	.navbar-menu ul li .box3{
	    width: 50vh;
	    height: 26vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(41, 128, 185);
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3400d3+0,5f43db+100 */
		background: #3400d3; /* Old browsers */
		background: -moz-linear-gradient(top,  #3400d3 0%, #5f43db 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3400d3), color-stop(100%,#5f43db)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #3400d3 0%,#5f43db 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3400d3', endColorstr='#5f43db',GradientType=0 ); /* IE6-9 */

	}
	.navbar-menu ul li .box4{
	    width: 26vh;
	    height: 26vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(0, 106, 63);
		    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005700+0,008a00+100 */
		background: #005700; /* Old browsers */
		background: -moz-linear-gradient(top,  #005700 0%, #008a00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005700), color-stop(100%,#008a00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #005700 0%,#008a00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #005700 0%,#008a00 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #005700 0%,#008a00 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #005700 0%,#008a00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005700', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */

	}
	.navbar-menu ul li .box5{
	    width: 35vh;
	    height: 26vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(211, 84, 0);
	}
	.navbar-menu ul li .box6{
	    width: 40vh;
	    height: 26vh;
	    display: inline-block;
	    position: relative;
	    background-color: rgb(135, 0, 0);
	}

	


	/*icon*/
	#nav-icon3{
	    width: 43px;
	    height: 35px;
	    position: fixed;
	    bottom: 0;
	    right: 0;
	    margin: 5px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .5s ease-in-out;
	    -moz-transition: .5s ease-in-out;
	    -o-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	    cursor: pointer;
	    z-index: 99999999999;
	}

	#nav-icon3 span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background: #d3531a;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	#nav-icon3 span:nth-child(1) {
	  	top: 0px;
	}

	#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	  	top: 14px;
	}

	#nav-icon3 span:nth-child(4) {
	    top: 28px;
	}

	#nav-icon3.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	#nav-icon3.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#nav-icon3.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#nav-icon3.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	/* Icon 3 */
	.menu-container{
	    display: none;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    position: fixed;
	    background-color: rgba(0, 0, 0, 0.78) ;
	    z-index: 99999;
	}
	.menu-container .navbar-menu{
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;

	}

}

